<div class="card">
    <div class="card-header bg-primary" id="headingOne">
      <h5 class="icon-bg" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span>{{.heading}}</span>
      </h5>
    </div>

    <div id="collapseOne" class="accordion-collapse collapse show shadow-sm rounded-sm" aria-labelledby="headingOne" data-bs-parent="#accordionOne">
      <div class="card-body">
        <p class="mb-0">{{.text}}</p>
      </div>
    </div>
</div>