<section class="pt-9 pb-7" id="blog">
	<div class="container">
	  <div class="section-title justify-content-center mb-4 mb-md-8 wow fadeInUp" style="visibility: hidden; animation-name: none;">
		<span class="shape shape-left bg-info"></span>
		<h2 class="text-danger">お知らせ</h2>
		<span class="shape shape-right bg-info"></span>
	  </div>
  
	  <div class="row wow fadeInUp" style="visibility: hidden; animation-name: none;">
		{{ range first 3 (where .Data.Pages.ByPublishDate.Reverse "Type" "post") }}
			<div class="col-md-4">
				{{ .Render "blog-card" }}
			</div>
		{{ end }}

	  </div>
	  <div class="btn-aria text-center mt-4 wow fadeInUp" style="visibility: hidden; animation-name: none;">
			  <a href="/post/" class="btn btn-danger text-uppercase">View More</a>
		  </div>
	</div>
</section>