<footer class="footer-bg-img">
	<!-- Footer Color Bar -->
	<div class="color-bar">
	  <div class="container-fluid">
		<div class="row">
		  <div class="col color-bar bg-warning"></div>
		  <div class="col color-bar bg-danger"></div>
		  <div class="col color-bar bg-success"></div>
		  <div class="col color-bar bg-info"></div>
		  <div class="col color-bar bg-purple"></div>
		  <div class="col color-bar bg-pink"></div>
		  <div class="col color-bar bg-warning d-none d-md-block"></div>
		  <div class="col color-bar bg-danger d-none d-md-block"></div>
		  <div class="col color-bar bg-success d-none d-md-block"></div>
		  <div class="col color-bar bg-info d-none d-md-block"></div>
		  <div class="col color-bar bg-purple d-none d-md-block"></div>
		  <div class="col color-bar bg-pink d-none d-md-block"></div>
		</div>
	  </div>
	</div>
  
	<div class="pt-8 pb-7  bg-repeat" style="background-image: url(/img/footer-bg-img.png);">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-6 col-lg-6 col-xs-12">
			<a class="mb-6 d-block" href="/">
				{{ $.Site.Title }}
			</a>
			<p class="mb-6">〒130-0021<br>東京都墨田区緑4丁目34-1</p>
			<p class="mb-6">
				■JR総武線　錦糸町駅（南口）<br>
				■地下鉄半蔵門線　錦糸町駅（南口方面出入り口１）徒歩7分<br>
				■都営バス<br>
				系統 両28、 錦27：「緑3丁目」から0分、「江東橋」から3分<br>
				系統 業10：「緑3丁目」から2分
			</p>
		  </div>
  
		  <div class="col-sm-6 col-lg-3 col-xs-12">
			<h4 class="section-title-sm font-weight-bold text-white mb-6">コンテンツ</h4>
			<ul class="list-unstyled">
			  <li class="mb-4">
				<a href="/">
				  <i class="fas fa-angle-double-right me-2" aria-hidden="true"></i>{{ $.Site.Title }}
				</a>
			  </li>
			  <li class="mb-4">
				<a href="/post">
				  <i class="fas fa-angle-double-right me-2" aria-hidden="true"></i>お知らせ
				</a>
			  </li>
			  <li class="mb-4">
				<a href="/reservation">
				  <i class="fas fa-angle-double-right me-2" aria-hidden="true"></i>予約アプリの使い方
				</a>
			  </li>
			  <li class="mb-4">
				<a href="/faqs">
				  <i class="fas fa-angle-double-right me-2" aria-hidden="true"></i>よくあるご質問
				</a>
			  </li>
			  <li class="mb-4">
				<a href="/contact">
				  <i class="fas fa-angle-double-right me-2" aria-hidden="true"></i>お問合せ
				</a>
			  </li>
			  <li class="mb-4">
				<a href="/privacy">
				  <i class="fas fa-angle-double-right me-2" aria-hidden="true"></i>プライバシーポリシー
				</a>
			  </li>

			</ul>
		  </div>
  
		  <!--
		  <div class="col-sm-6 col-lg-3 col-xs-12">
			<h4 class="section-title-sm font-weight-bold text-white mb-6">お知らせ</h4>
			<ul class="list-unstyled list-item-border-bottom">
				{{ range first 3 (where .Data.Pages "Type" "post") }}
				<li class="mb-4 pb-4">
					<div class="media">
						<div class="media-body">
						<h5 class="line-hight-16 mb-1">
							<a class="font-base font-size-14" href="{{ .RelPermalink }}">{{ .Title }}</a>
						</h5>
						<time class="text-white">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
						</div>
					</div>
				</li>

				{{ end }}
			</ul>
		  </div>
		  -->
		</div>
	  </div>
	</div>
  
	<!-- Copy Right -->
	<div class="copyright">
	  <div class="container">
		<div class="row py-4 align-items-center">
		  <div class="col-sm-7 col-xs-12 order-1 order-md-0">
			<p class="copyright-text"> © <span id="copy-year">2023</span> Copyright {{ $.Site.Title }}</p>
		  </div>
  
		  <div class="col-sm-5 col-xs-12">
			<ul class="list-inline d-flex align-items-center justify-content-md-end justify-content-center mb-md-0">
				{{ partial "social-icon" (dict "link" "https://twitter.com/kids_backten" "svg" "icons-twitter" "alt" "錦糸町キッズバク転教室！ on Twitter") }}
				{{ partial "social-icon" (dict "link" "https://www.instagram.com/byun_to_kids" "svg" "icons-instagram" "alt" "びゅんとキッズ！ on Instagram") }}
				{{ partial "social-icon" (dict "link" "https://www.youtube.com/@byun_to_kids" "svg" "icons-youtube" "alt" "びゅんとキッズ！ on Youtube") }}
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </footer>

{{ partial "svg" . }}
