<script type="application/ld+json">
    [
        {{ if .IsPage }}
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "headline": {{ .Title }},
          "image": {{ .Params.image | absURL }},
          "datePublished": {{ .PublishDate }},
          "dateModified": {{ .Lastmod }},
          "author": {
            "@type": "Person",
            "name": {{ .Site.Params.author.name }}
          },
          "mainEntityOfPage": { "@type": "WebPage" },
          "publisher": {
            "@type": "Organization",
            "name": {{ .Site.Params.organizationname }},
            "logo": {
              "@type": "ImageObject",
              "url": {{ .Site.Params.authorlogo }}
            }
          },
          "description": {{ .Summary | plainify | safeHTML }}
        },
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": {{ .Site.Title }},
            "item": {{ .Site.BaseURL }}
          },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "お知らせ",
            "item": {{ path.Join (.Site.BaseURL) ("/post/" | relLangURL) (index .Params.categories 0 | urlize) }}
          },
          {
            "@type": "ListItem",
            "position": 3,
            "name": {{ .Title }},
            "item": {{ path.Join (.Site.BaseURL) (index .RelPermalink | urlize) }}
          }
          ]
        },
        {{ end }}
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": {{ .Site.Params.organizationname }},
          "url": {{ .Site.BaseURL }},
          "sameAs": [
            "https://twitter.com/{{ .Site.Params.twitter }}"
          ]
        }
    ]
    </script>