<a class="icon-rounded-circle-small bg-success me-2" href="https://twitter.com/kids_backten">
  <i class="fab fa-twitter text-white" aria-hidden="true"></i>
</a>
<a class="icon-rounded-circle-small bg-pink me-2" href="https://www.instagram.com/byun_to_kids">
  <i class="fab fa-instagram text-white" aria-hidden="true"></i>
</a>
<a class="icon-rounded-circle-small bg-danger me-2" href="https://www.youtube.com/@byun_to_kids">
    <i class="fab fa-youtube text-white" aria-hidden="true"></i>
</a>
<a class="icon-rounded-circle-small bg-info me-2" href="https://www.facebook.com/kids.backten/">
    <i class="fab fa-facebook text-white" aria-hidden="true"></i>
</a>