<div class="col-md-6 col-lg-6">
  <div class="card bg-purple card-hover mb-9">
    <div class="card-body text-center px-md-5 px-lg-6 my-2">
      <div class="card-icon-border-large border-purple mtn-80">
        <i class="fa fa-quote-left text-purple" aria-hidden="true"></i>
      </div>
      <blockquote class="blockquote blockquote-sm mt-2">
        <p class="font-normal mb-5">小学3年生の娘が通っています♡<br>
          今年の夏休みに体験に行き、一回一回コメントをくれるTETSUYA先生の教え方が娘にはピッタリはまり、その場で即入会手続きをしました。
          夏休み期間には、ニンジャアスレチックにも参加させていただき日常とは違う色々な身体の動かし方を体験できて楽しんでいました(^^)♪
          それからは、毎週通っていて、憧れのバク転もあと少し(*☻-☻*)⁈かな⁈というところまで成長させてもらっています！！<br>
          目標を持って達成感を体験できて、何より子ども本人が楽しく学んでいるのが1番の魅力です♡</p>
        <footer class="blockquote-footer text-uppercase text-white">YM様</footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="col-md-6 col-lg-6">
  <div class="card bg-purple card-hover mb-9">
    <div class="card-body text-center px-md-5 px-lg-6 my-2">
      <div class="card-icon-border-large border-purple mtn-80">
        <i class="fa fa-quote-left text-purple" aria-hidden="true"></i>
      </div>
      <blockquote class="blockquote blockquote-sm mt-2">
        <p class="font-normal mb-5">小学生2年生女子です。<br>
          チアリーディングを習っていて、是非、バク転が出来るようになりたいです！
          いくつかのスクールを体験に行っている娘ですが、施設こそは広くありませんが、TETSUYA先生の様々な工夫と、熱心で、きめ細やかな指導に感銘を受け、TETSUYA先生に指導していただき、バク転を完成させたいと思い、通っています。諦めずに、通えている事も凄いと思っています。
          バク転が出来るようになってもバク宙など、他の技も教えて貰いたいと思っています。<br>
          娘はTETSUYA先生が大好きです！！<br>
          これからもよろしくお願いします。</p>
        <footer class="blockquote-footer text-uppercase text-white">EI様</footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="col-md-6 col-lg-6">
  <div class="card bg-pink card-hover mb-9">
    <div class="card-body text-center px-md-5 px-lg-6 my-2">
      <div class="card-icon-border-large border-pink mtn-80">
        <i class="fa fa-quote-left text-pink" aria-hidden="true"></i>
      </div>
      <blockquote class="blockquote blockquote-sm mt-2">
        <p class="font-normal mb-5">小学校３年生の娘が、今年の６月から通わせていただいております。口数の少ない娘でしたが、こちらのバク転教室に通い出してから、挨拶や、自分の意見を言えるようになりました！先生が凄くお優しくて、普段はふざけない娘が、ふざけるくらい！毎週楽しみに通ってます！そして！そして！ついにバク転を１人でできそうなくらいになってきました！母、感動☆*:.｡. o(≧▽≦)o .｡.:*☆娘はバク転が出来るようになってもTETSUYA先生にこれからも色々な技を教えてもらいたい！もっと綺麗に技を教えてもらいたいと…娘が興奮する程です！バク転以外も、バク宙や、倒立、前転や後転などのマット運動、基礎トレーニングも教えてもらってます！私のおすすめの教室です♡</p>
        <footer class="blockquote-footer text-uppercase text-white">SS様</footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="col-md-6 col-lg-6">
  <div class="card bg-info card-hover mb-9">
    <div class="card-body text-center px-md-5 px-lg-6 my-2">
      <div class="card-icon-border-large border-info mtn-80">
        <i class="fa fa-quote-left text-info" aria-hidden="true"></i>
      </div>
      <blockquote class="blockquote blockquote-sm mt-2">
        <p class="font-normal mb-5">体験に参加しましたが丁寧に指導してもらい、手厚さにびっくりしました。子どもたちにとってとても貴重な経験になったと思います。</p>
        <footer class="blockquote-footer text-uppercase text-white">体験のお客様</footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="col-md-6 col-lg-6">
  <div class="card bg-primary card-hover mb-9">
    <div class="card-body text-center px-md-5 px-lg-6 my-2">
      <div class="card-icon-border-large border-primary mtn-80">
        <i class="fa fa-quote-left text-primary" aria-hidden="true"></i>
      </div>
      <blockquote class="blockquote blockquote-sm mt-2">
        <p class="font-normal mb-5">バク転ができなくても、それまでの過程で体を動かす事が本人にとって良い経験になればとおもっています。楽しかったよ！の我が子の顔を見るとありがたく感じます！</p>
        <footer class="blockquote-footer text-uppercase text-white">田中様</footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="col-md-6 col-lg-6">
  <div class="card bg-success card-hover mb-9">
    <div class="card-body text-center px-md-5 px-lg-6 my-2">
      <div class="card-icon-border-large border-success mtn-80">
        <i class="fa fa-quote-left text-success" aria-hidden="true"></i>
      </div>
      <blockquote class="blockquote blockquote-sm mt-2">
        <p class="font-normal mb-5">初めは怖がって興味なさそうでしたが、続けるうちにかなりバク転の動きが出来るようになり、子供のポテンシャルに驚いています！
          勝手にうちの娘は運動苦手だから、と思っていたのが、思い込みでした！</p>
        <footer class="blockquote-footer text-uppercase text-white">YK様</footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="col-md-6 col-lg-6">
  <div class="card bg-danger card-hover mb-9">
    <div class="card-body text-center px-md-5 px-lg-6 my-2">
      <div class="card-icon-border-large border-danger mtn-80">
        <i class="fa fa-quote-left text-danger" aria-hidden="true"></i>
      </div>
      <blockquote class="blockquote blockquote-sm mt-2">
        <p class="font-normal mb-5">運動が大嫌い、気が付けばタブレットでYouTube漬けの小学1年生が週2回、合計20回参加後であと一息のところまで成長しています！！
          保護者として、あの運動嫌いの自分の子供にこんなすごいことができるようになるとは、本当にびっくり。
          バク転が一人で出来る日まであと少し、希望をもって支援したくなります。</p>
        <footer class="blockquote-footer text-uppercase text-white">保護者様</footer>
      </blockquote>
    </div>
  </div>
</div>