<section id="mainimage" class="fullwidthbanner-container over" dir="ltr">
	<div class="container py-7">
		<div class="pb-4 text-center">
			<h5 class="text-white">バク転という習い事</h5>
			<h1 class="text-white">錦糸町キッズバク転教室！</h1>
		</div>
		<div class="row wow fadeInUp pt-6" style="visibility: visible; animation-name: fadeInUp;">
			<div class="col-sm-4 col-xl-2 offset-xl-3">
				<div class="card bg-danger card-hover bg-opacity-75">
					<div class="card-body text-center p-0">
						<div class="text-white font-size-20 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">小学生対象</div>
					</div>
				</div>    
			</div>
			<div class="col-sm-4 col-xl-2">
				<div class="card bg-info card-hover bg-opacity-75">
					<div class="card-body text-center p-0">
						<div class="text-white font-size-20 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">初心者向け！</div>
					</div>
				</div>    
			</div>
			<div class="col-sm-4 col-xl-2">
				<div class="card bg-primary card-hover bg-opacity-75">
					<div class="card-body text-center p-0">
						<div class="text-white font-size-20 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">初回割引あり</div>
					</div>
				</div>    
			</div>

		</div>
	</div>
</section>

<section class="py-7 py-md-10">
	<div class="container">
		<div class="section-title mb-4">
			<h2 class="text-danger ps-0">お子様の運動能力を高める「バク転」とは？</h2>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="image mb-4 mb-md-0">
					<video autoplay muted loop playsinline width="500px" height="366px" class="img-fluid">
						<source src="img/backten.mp4" type="video/mp4">
					</video>
				</div>
			</div>

			<div class="col-md-6 col-sm-12">
				<div class="">
					<p class="text-danger font-size-15 mb-4">
					バク転は「後方倒立回転跳び（こうほうとうりつかいてんとび）」という体操競技の技です。<br>
					立った状態から後ろに飛び、<strong>手をついて</strong>逆立ちを経由して、跳ね起きる技です。<br>
					後ろに宙返りをする「バク宙」と違って、手をつくのが特徴です。
					</p>   
					<p class="text-dark font-size-15 mb-4">
					バク転が上手になると、<strong>連続してバク転</strong>をしたり、<strong>バク転からバク宙につなげる</strong>など、よりアクロバティックな技ができるようになります。<br>
					<strong>錦糸町キッズバク転教室！</strong>は、バク転を小学生向けに教えている錦糸町のバク転教室です。初心者は大歓迎。体操の経験がなくても1から丁寧に指導します。<br>
					1枠ごとの予約制なので、<strong>他の習い事に通っていても、都合にあわせて無理なく通うことが可能</strong>です。頑張っているスポーツのための運動能力強化にご活用ください。<br>
					スポーツをしていない子は、バク転を１つの目標に、からだ作りをしませんか？将来どんなスポーツに興味をもったときにも役立つ基礎を作り、新体力テスト対策にも効果的な、運動能力を高めるにはうってつけの習い事です。<br>
					錦糸町キッズバク転教室！は、子どもたちの可能性を広げるお手伝いをします！</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-7 py-md-10">
	<div class="container">
		<div class="section-title justify-content-center mb-4 mb-md-8 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<span class="shape shape-left bg-info"></span>
			<h2 class="text-danger">「バク転」という新しい習い事。</h2>
			<span class="shape shape-right bg-info"></span>
		</div>
		<p class="mb-4">
			小学生の期間は「<strong>ゴールデンエイジ</strong>」と呼ばれて神経系の発達が著しい成長期間です。ゴールデンエイジ期の運動として「コーディネーショントレーニング」が注目されています。コーディネーショントレーニングは全身のバランスや連動とともに思考力や集中力を養うものですが、<strong>バク転はまさにコーディネーショントレーニングの塊</strong>。<br>
			後ろに跳ぶという非日常的な動きは神経系を活発に刺激します。繊細な身体の使い方と瞬発的な力の入れ方を学び、総合的な運動能力を向上させましょう。<br>
			大人になってもバク転の習得は可能ですが、体が大きくなると怪我のリスクもあがるので、バク転は子どものうちに挑戦して習得するのがオススメです。<br>
			当バク転教室はバク転習得を目標に、身体と運動能力作りを目指す子供たちのための習い事教室です。短期に集中して通う、ゆっくりと通えるときに通うなど、都合に合わせて通える教室です。
		</p>
		<div class="row">
			<div class="col-md-4 col-12">
				<div class="card">
					<img class="card-img-top img-fluid" src="img/baku1.jpg" alt="運動能力を高めよう" width=388 height=323 loading="lazy" decoding="async">
					<div class="card-body border-top-5 px-3 rounded-bottom border-primary">
						<h3 class="card-title text-primary d-block">運動能力を高めよう</h3>
						<p>バク転は両足でジャンプする力、肩や背中の柔軟性、腕と肩で地面を押す力など、総合的な身体能力と、全身を上手に連動する事が必要です。バク転ができる頃には、1段階高い身体能力が身につきます。</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="card">
					<img class="card-img-top img-fluid" src="img/baku2.jpg" alt="自分に自信をつけよう" width=388 height=323 loading="lazy" decoding="async">
					<div class="card-body border-top-5 px-3 rounded-bottom border-success">
						<h3 class="card-title text-success d-block">自分に自信をつけよう</h3>
						<p>バク転の練習を通して、後方に飛ぶという非日常の恐怖を克服する強い心が身につきます。一つの大きな目標を達成した成功体験は、非認知能力を育み、今後の成長に大きな自信となるでしょう。</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<div class="card">
					<img class="card-img-top img-fluid" src="img/baku3.jpg" alt="ヒーローになろう" width=388 height=323 loading="lazy" decoding="async">
					<div class="card-body border-top-5 px-3 rounded-bottom border-info">
						<h3 class="card-title text-info d-block">ヒーローになろう</h3>
						<p>選ばれし運動神経の良い子しかできないと思われていたバク転も、段階を踏んで行えば誰でも習得が可能です。バク転をマスターしてクラスのヒーローになろう！</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-7 py-md-10">
	<div class="container">
		<div class="section-title justify-content-center mb-4 mb-md-8 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<span class="shape shape-left bg-info"></span>
			<h2 class="text-danger">バク転習得までの道のり</h2>
			<span class="shape shape-right bg-info"></span>
		</div>
		<p class="mb-4">バク転の練習は、安全のためにも段階的に行っていきます。どういった練習をするのか不安なお子様に、バク転を習得するまでにどのような段階を踏むのかをご紹介します！<br>バク転の練習は、大きく分けて１〜５までのステップがあります。</p>
		<div class="row">
			<div class="col-sm-x col-md-6 col-12">
				<div class="card">
					<img class="card-img-top img-fluid" src="img/way1.jpg" alt="バク転練習：後ろに倒れる" width=388 height=388 loading="lazy" decoding="async">
					<div class="card-body border-top-5 px-3 rounded-bottom border-primary">
						<h3 class="card-title text-primary d-block fs-5">1.後ろに倒れる</h3>
						<p>後ろに向かってアクションするのは、心理的に難しいものがあります。そこで最初は、分厚いマットに向かって、勇気をだして倒れる練習をします。</p>
					</div>
				</div>
			</div>
			<div class="col-sm-x col-md-6 col-12">
				<div class="card">
					<img class="card-img-top img-fluid" src="img/way2.jpg" alt="バク転練習：体感してみる" width=388 height=388 loading="lazy" decoding="async">
					<div class="card-body border-top-5 px-3 rounded-bottom border-success">
						<h3 class="card-title text-success d-block fs-5">2.体感してみる</h3>
						<p>バク転とはどういう視界で、どう回転しているのか、トレーナーが思いっきり補助をした状態で体感します。アトラクションみたいで楽しいですよ！</p>
					</div>
				</div>
			</div>
			<div class="col-sm-x col-md-6 col-12">
				<div class="card">
					<img class="card-img-top img-fluid" src="img/way3.jpg" alt="バク転練習：後ろにジャンプする" width=388 height=388 loading="lazy" decoding="async">
					<div class="card-body border-top-5 px-3 rounded-bottom border-info">
						<h3 class="card-title text-info d-block fs-5">3.後ろにジャンプする</h3>
						<p>しゃがみ方や飛び方を練習してから、マットに向かって後ろジャンプしてみます。このときにしっかりと距離や高さをだしてジャンプすること、そして姿勢がとても大事です。</p>
					</div>
				</div>
			</div>
			<div class="col-sm-x col-md-6 col-12">
				<div class="card">
					<img class="card-img-top img-fluid" src="img/way4.jpg" alt="バク転練習：補助付きで練習する" width=388 height=388 loading="lazy" decoding="async">
					<div class="card-body border-top-5 px-3 rounded-bottom border-info">
						<h3 class="card-title text-info d-block fs-5">4.補助付きで練習する</h3>
						<p>補助をした状態でバク転をします。ここで飛び方を直していきます。形が崩れたときには3に戻ったりして、技を繰り返し練習します。</p>
					</div>
				</div>
			</div>
			<div class="col-sm-x col-md-6 col-12">
				<div class="card">
					<img class="card-img-top img-fluid" src="img/way5.png" alt="バク転練習：1人でバク転する" width=388 height=388 loading="lazy" decoding="async">
					<div class="card-body border-top-5 px-3 rounded-bottom border-info">
						<h3 class="card-title text-info d-block fs-5">5.1人でバク転する</h3>
						<p>補助をした状態で安定してバク転ができるようになったら、少しづつ補助を弱め、最終的に一人でバク転に挑戦します。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-success" role="alert">
				<p>以上のような段階を踏んで、安全にバク転を学んでいきますので、初心者でも始められます。</p>
				<hr>
				<p class="mb-0">
					ウォーミングアップ時やバク転練習後には、様々なエクササイズを行います。例えば、前転や後転、倒立といった基本的なマット運動を練習したり、体幹トレーニングなどバク転習得のために基本的な動きを学んだり、足りない筋力を付けていきます。<br>
					コーディネーショントレーニングやファンクショナルトレーニングも取り入れた様々な運動を行いますので、バク転だけではなく、今後どんなスポーツに興味を持ったときにも役立つ能力を楽しく身につける運動ができます。</p>
			</div>
	</div>
</section>

<section class="py-7 py-md-10">
	<div class="section-title justify-content-center mb-4 mb-md-8 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
		<span class="shape shape-left bg-info"></span>
		<h2 class="text-danger">バク転トレーナーのご紹介</h2>
		<span class="shape shape-right bg-info"></span>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-3 order-1">
				<div class="image mb-5 mb-md-0">
					<img class="w-100 rounded img-fluid" src="img/trainer.png" alt="バク転トレーナーの画像" width=198 height=349 loading="lazy" decoding="async">
				</div>
			</div>

			<div class="col-9">
				<h2 class="text-danger font-weight-bold text-capitalize ps-0 mb-5">TETSUYA先生</h2>
				<p class="text-muted mb-5">
					バク転の習得を通して、子どもたちの未来の可能性を広げることを目指しています。バク転習得に向けた身体作りをサポートする資格を持っています。<br>
					・<a href="https://www.nesta-gfj.com/" target="_blank" rel="noopener nofollow">全米エクササイズ＆スポーツトレーナー協会(NESTA)キッズコーディネーショントレーナー</a><br>
					・<a href="https://kobakatsumi.jp/" target="_blank" rel="noopener nofollow">KOBA式体幹☆バランスAthleteトレーナー</a><br>
					・<a href="https://www.japan-bakuten.or.jp/" target="_blank" rel="noopener nofollow">日本バク転協会バク転インストラクター</a><br>
					<br>
					子供のための運動アイデアを日々投稿する「びゅんとキッズ！」インスタグラムは再生数450万回を超えています。フォロー宜しくお願いします！
				</p>
				<div class="mb-7">
					<a class="icon-rounded-circle-small bg-success me-2" href="https://twitter.com/kids_backten">
						<i class="fab fa-twitter text-white" aria-hidden="true"></i>
					</a>
					<a class="icon-rounded-circle-small bg-pink me-2" href="https://www.instagram.com/byun_to_kids">
						<i class="fab fa-instagram text-white" aria-hidden="true"></i>
					</a>
					<a class="icon-rounded-circle-small bg-danger me-2" href="https://www.youtube.com/@byun_to_kids">
							<i class="fab fa-youtube text-white" aria-hidden="true"></i>
					</a>
					<a class="icon-rounded-circle-small bg-info me-2" href="https://www.facebook.com/kids.backten/">
							<i class="fab fa-facebook text-white" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-7 py-md-10">
	<div class="section-title justify-content-center mb-4 mb-md-8 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
		<span class="shape shape-left bg-info"></span>
		<h2 class="text-danger">バク転教室情報</h2>
		<span class="shape shape-right bg-info"></span>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-4">
				<div class="image mb-5 mb-md-0">
					<img class="w-100 rounded img-fluid" src="img/gym.jpg" alt="バク転教室外観" width=415 height=437 loading="lazy" decoding="async">
				</div>
			</div>

			<div class="col-xs-9 col-8">
				<p class="text-muted mb-5">
					教室は東京都内でも通いやすい墨田区の錦糸町駅（総武線・半蔵門線）から徒歩7分の好立地。バス停も3つほど周りにあるので、使いやすい路線でお越しください。<br>
					<br>
					「ホイス・グレイシー柔術アカデミー東京」内のトレーニングスペースをお借りしていますので、隣のマットスペースでは本場のグレイシー柔術の練習がみられるかも！<br>
					※バク転レッスンの受講には、柔術会員になる必要はありませんが、レッスンの予約とお支払いにジムの予約システムを利用しています。<br>
					<br>
					<br>
					〒130-0021<br>
					東京都墨田区緑4丁目34-1<br>
					<br>
					■JR総武線 錦糸町駅（南口）<br>
					■地下鉄半蔵門線 錦糸町駅（南口方面出入り口1）徒歩7分<br>
					■都営バス<br>
					系統 両28、 錦27：「緑3丁目」から0分、「江東橋」から3分<br>
					系統 業10：「緑3丁目」から2分<br>
					■お車<br>
					専用駐車場はありません。近隣の有料駐車場をご利用ください。
				</p>
			</div>
		</div>
	</div>
</section>


<section class="py-7 py-md-10">
	<div class="container">
		<div class="section-title justify-content-center mb-4 mb-md-8 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<span class="shape shape-left bg-info"></span>
			<h2 class="text-danger">タイムテーブル</h2>
			<span class="shape shape-right bg-info"></span>
		</div>
		<p class="mb-4">対象：小学生<span class="small">（下記制限内であれば小学生以外でも可能です）</span><br>
			制限：身長160cmまで 体重40kgまで (マットのスペース、補助の関係で制限があります。ご了承ください。)</p>
		<div class="table-responsive table-class-schedule">
			<table class="table table-bordered text-center mb-0">
				<thead>
					<tr>
						<th class="bg-primary text-white text-uppercase font-size-18" scope="col">Time
								<i class="fa fa-arrow-down" aria-hidden="true"></i>
						</th>
						<th class="bg-success text-white text-uppercase" scope="col">月</th>
						<th class="bg-danger text-white text-uppercase" scope="col">火</th>
						<th class="bg-info text-white text-uppercase" scope="col">水</th>
						<th class="bg-purple text-white text-uppercase" scope="col">木</th>
						<th class="bg-primary text-white text-uppercase" scope="col">金</th>
						<th class="bg-pink text-white text-uppercase" scope="col">土</th>
						<th class="bg-pink text-white text-uppercase" scope="col">日</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td class=" align-middle text-muted font-weight-medium">15:00 - 16:00</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">
								<span class="text-pink d-block font-weight-bold font-size-18 mb-2">●</span>
							</td>
							<td class="text-muted">-</td>
						</tr>

						<tr>
							<td class="align-middle text-muted font-weight-medium">16:00 - 17:00</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">
								<span class="text-pink d-block font-weight-bold font-size-18 mb-2">●</span>
							</td>
							<td class="text-muted">-</td>
						</tr>

						<tr>
							<td class="align-middle text-muted font-weight-medium">17:00 - 18:00</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">
								<span class="text-pink d-block font-weight-bold font-size-18 mb-2">●</span>
							</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
						</tr>

						<tr>
							<td class="align-middle text-muted font-weight-medium">18:00 - 19:00</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">
								<span class="text-pink d-block font-weight-bold font-size-18 mb-2">●</span>
							</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
							<td class="text-muted">-</td>
						</tr>
				</tbody>
			</table>
		</div>
		<p>
			※●の時間が教室の開催時間です。この時間で埋まっていない枠を予約いただけます。<br>
			※1枠あたり定員6名<br>
			※祝日はお休みです
		</p>
	</div>
</section>


<section class="py-7 py-md-10">
	<div class="container">
		<div class="section-title justify-content-center mb-5 mb-md-8">
			<span class="shape shape-left bg-info"></span>
			<h2 class="text-danger">ご利用料金</h2>
			<span class="shape shape-right bg-info"></span>
		</div>

		<div class="row">
			<div class="col-xl-6">
				<div class="media pricing-list bg-light mb-6">
					<div class="pricing-plan bg-primary">
					<h3 class="text-white text-truncate">初回体験</h3>
					<p class="text-white">初めての体験にはお得な割引実施中！</p>
					<ul class="list-unstyled mb-0">
						<li class="d-flex justify-content-between align-items-baseline p-0 border-0">
						<div class="pricing-price text-white">
							<span class="">1,000円</span>
							<small class="d-block">税込み・1枠60分</small>    
						</div>
						</li>
					</ul>
					</div>

					<div class="media-body">
						<ul class="list-unstyled mb-0">
						<li class="d-flex align-items-baseline mb-3">
							<i class="fa fa-birthday-cake me-2 text-primary" aria-hidden="true"></i>
							体験後は8回チケットか12回チケットを、その日に限り5,000円OFFでご購入いただけるダブル特典があります！
						</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-xl-6">
				<div class="media pricing-list bg-light mb-6">
					<div class="pricing-plan bg-success">
						<h3 class="text-white text-truncate">２回目以降</h3>
						<p class="text-white">通常のご利用はこちら</p>
						<ul class="list-unstyled mb-0">
							<li class="d-flex justify-content-between align-items-baseline p-0 border-0">
								<div class="pricing-price text-white">
									<span class="">3,850円</span>
									<small class="d-block">税込み・1枠60分</small>    
								</div>
							</li>
						</ul>
					</div>

					<div class="media-body">
						<ul class="list-unstyled mb-0">
						<li class="d-flex align-items-baseline mb-3">
							<i class="fa fa-birthday-cake me-2 text-success" aria-hidden="true"></i>
							入会金ゼロ
						</li>
						<!-- <li class="d-flex align-items-baseline mb-3">
							<i class="fa fa-medkit me-2 text-success" aria-hidden="true"></i>
							初回及び更新時にスポーツ保険の加入金990円/年が必要です
						</li> -->
						<li class="d-flex align-items-baseline mb-3">
							<i class="fa fa-medkit me-2 text-success" aria-hidden="true"></i>
							お得なチケットもあります
						</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-7 py-md-10 bg-parallax" style="background-image: url(img/background-img-1.jpg);">
	<div class="container">
		<div class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
			<div class="section-title justify-content-center">
				<h2 class="text-white text-center">お問合せ・体験予約はこちら！</h2>
			</div>
			<div class="text-center">
				<p class="text-white font-size-18 mb-0">お気軽にお問合せください</p>
				<a href="/contact" class="btn btn-danger shadow-sm text-uppercase mt-4">
				<i class="fas fa-phone-alt me-2" aria-hidden="true"></i>Contact
				</a>
			</div>
		</div>
	</div>
</section>

<section class="py-7 py-md-10">
	<div class="container">
		<div class="section-title justify-content-center mb-5 mb-md-8">
			<span class="shape shape-left bg-info"></span>
			<h2 class="text-danger">お知らせ・お役立ち情報</h2>
			<span class="shape shape-right bg-info"></span>
		</div>
		<div class="row">
			{{ range (.Paginator 6).Pages.ByPublishDate.Reverse }}
				<div class="col-lg-6">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-5">
								<a href="{{ .RelPermalink }}">{{ if .Params.image }}<img src="{{ .Params.image }}" class="w-100 rounded-start lazyestload" data-src="{{ .Params.image }}" alt="{{ .Title }}">{{ end }}</a>
							</div>
							<div class="col-md-7">
								<div class="card-body">
									<a href="{{ .RelPermalink }}"><h5 class="card-title">{{ .Title }}</h5></a>
									<p class="card-text"><small class="text-muted">{{ .Date.Format "2006-01-02" }}</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{ end }}
		</div>
		<div class="btn-aria text-center mt-4">
			<a href="/post/" class="btn btn-danger text-uppercase">お知らせ・お役立ち情報をみる</a>
		</div>
	</div>
</section>

<section class="py-7 py-md-10">
	<div class="container">
		<div class="section-title justify-content-center mb-5 mb-md-8">
			<span class="shape shape-left bg-info"></span>
			<h2 class="text-danger">お客様の声</h2>
			<span class="shape shape-right bg-info"></span>
		</div>
		<div class="row pt-5">
			<div class="col-md-6 col-lg-6">
				<div class="card bg-info card-hover mb-9">
					<div class="card-body text-center px-md-5 px-lg-6 my-2">
						<div class="card-icon-border-large border-info mtn-80">
							<i class="fa fa-quote-left text-info" aria-hidden="true"></i>
						</div>
						<blockquote class="blockquote blockquote-sm mt-2">
							<p class="font-normal mb-5">体験に参加しましたが丁寧に指導してもらい、手厚さにびっくりしました。子どもたちにとってとても貴重な経験になったと思います。</p>
							<footer class="blockquote-footer text-uppercase text-white">体験のお客様</footer>
						</blockquote>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-6">
				<div class="card bg-primary card-hover mb-9">
					<div class="card-body text-center px-md-5 px-lg-6 my-2">
						<div class="card-icon-border-large border-primary mtn-80">
							<i class="fa fa-quote-left text-primary" aria-hidden="true"></i>
						</div>
						<blockquote class="blockquote blockquote-sm mt-2">
							<p class="font-normal mb-5">バク転ができなくても、それまでの過程で体を動かす事が本人にとって良い経験になればとおもっています。楽しかったよ！の我が子の顔を見るとありがたく感じます！</p>
							<footer class="blockquote-footer text-uppercase text-white">田中様</footer>
						</blockquote>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-6">
				<div class="card bg-success card-hover mb-9">
					<div class="card-body text-center px-md-5 px-lg-6 my-2">
						<div class="card-icon-border-large border-success mtn-80">
							<i class="fa fa-quote-left text-success" aria-hidden="true"></i>
						</div>
						<blockquote class="blockquote blockquote-sm mt-2">
							<p class="font-normal mb-5">初めは怖がって興味なさそうでしたが、続けるうちにかなりバク転の動きが出来るようになり、子供のポテンシャルに驚いています！
								勝手にうちの娘は運動苦手だから、と思っていたのが、思い込みでした！</p>
							<footer class="blockquote-footer text-uppercase text-white">YK様</footer>
						</blockquote>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-6">
				<div class="card bg-danger card-hover mb-9">
					<div class="card-body text-center px-md-5 px-lg-6 my-2">
						<div class="card-icon-border-large border-danger mtn-80">
							<i class="fa fa-quote-left text-danger" aria-hidden="true"></i>
						</div>
						<blockquote class="blockquote blockquote-sm mt-2">
							<p class="font-normal mb-5">運動が大嫌い、気が付けばタブレットでYouTube漬けの小学1年生が週2回、合計20回参加後であと一息のところまで成長しています！！
								保護者として、あの運動嫌いの自分の子供にこんなすごいことができるようになるとは、本当にびっくり。
								バク転が一人で出来る日まであと少し、希望をもって支援したくなります。</p>
							<footer class="blockquote-footer text-uppercase text-white">保護者様</footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-7 py-md-10">
	<div class="container">
		<div class="section-title mb-4">
			<h2 class="text-danger ps-0">バク転のための練習動画</h2>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="image mb-4 mb-md-0">
					<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FeHyEu5Sx6gc%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DeHyEu5Sx6gc&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FeHyEu5Sx6gc%2Fhqdefault.jpg&amp;key=647b63d8c58a4c27a568a4288a34ed74&amp;type=text%2Fhtml&amp;schema=youtube" width="500" height="281" scrolling="no" title="バク転のための練習動画" frameborder="0" allow="autoplay; fullscreen; encrypted-media; picture-in-picture;" allowfullscreen="true" loading="lazy"></iframe>
				</div>
			</div>

			<div class="col-md-6 col-sm-12">
				<h2>バク転やってみたいけど自信のないキッズはこちらを御覧ください</h2>
				<div class="">
					<p class="font-size-15 mb-4">
						こちらの動画は、バク転の動きにそったエクササイズです。動画を観て、事前にバク転に必要な動きや筋力を身につけておけば、よりスムーズに取りかかれます。
						レッスンのない日も続ければ、より速くバク転を習得できます。週2日ほど繰り返すのがおすすめです。
					</p>   
					<p class="font-size-15 mb-4">
						バク転のためのストレッチもあわせて行うと効果アップ！
						<a class="btn btn-primary btn-lg mb-2" href="https://youtu.be/PAaULLP_pAQ">Youtube バク転のためのストレッチ</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
