<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/images-loaded/js/imagesloaded.pkgd.min.js"></script>
    <script src="/plugins/lazyestload/lazyestload.js"></script>
    <script src="/plugins/velocity/velocity.min.js"></script>
    <script src="/plugins/wow/wow.min.js"></script>
    <script src="/plugins/smoothscroll/SmoothScroll.js"></script>
    <script src="/js/kidz.js"></script>
  </body>
</html>
