{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/mainback.jpg" "title" "お知らせ") }}

<section class="py-8 py-md-10">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-9">
				<div class="row">
          {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
					<div class="col-md-6 col-lg-4">
            {{ .Render "blog-card"}}
          </div>
          {{ end }}

				</div>
			</div>
			<div class="col-md-4 col-lg-3">
				<form class="" action="search-result.html">
					<div class="card shadow-none bg-transparent">
						<h3 class="card-header bg-primary font-weight-bold rounded-top text-white">Search</h3>
						<div class="card-body border border-top-0 rounded-bottom">
							<div class="input-group border-bottom pb-3 pt-4">
								<input type="text" class="form-control border-0 px-1" placeholder="Enter Your Search" aria-describedby="basic-addon2">
								<span class="input-group-addon" id="basic-addon2">
									<input class="btn btn-sm btn-primary text-uppercase text-white shadow-sm" type="submit" value="Search">
								</span>
							</div>
						</div>
					</div>
				</form>

				<div class="card shadow-none bg-transparent">
					<h4 class="card-header font-weight-bold bg-success rounded-top text-white">Categories</h4>
					<div class="card-body border border-top-0 rounded-bottom">
						<ul class="list-unstyled mb-0">
							<li class="mb-2">
								<a class="text-muted font-weight-medium d-block border rounded py-2 ps-3" href="blog-grid-right-sidebar.html">Education</a>
							</li>
							<li class="my-2">
								<a class="text-muted font-weight-medium d-block border rounded py-2 ps-3" href="blog-grid-right-sidebar.html">Kindergarten</a>
							</li>
							<li class="my-2">
								<a class="text-muted font-weight-medium d-block border rounded py-2 ps-3" href="blog-grid-right-sidebar.html">Playground</a>
							</li>
							<li class="my-2">
								<a class="text-muted font-weight-medium d-block border rounded py-2 ps-3" href="blog-grid-right-sidebar.html">Post
									Formats</a>
							</li>
							<li class="mt-2">
								<a class="text-muted font-weight-medium d-block border rounded py-2 ps-3" href="blog-grid-right-sidebar.html">Children</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="mb-4">
					<h3 class="bg-purple rounded-top font-weight-bold text-white mb-0 py-2 px-4">Related Course</h3>
					<div class="border border-top-0 rounded">
						<ul class="list-unstyled mb-0">
							<li class="border-bottom p-3">
								<div class="media">
									<a class="me-2" href="blog-grid-right-sidebar.html">
										<img class="w-100 rounded" src="assets/img/blog/blog-sm-img8.jpg" alt="blog-sm-img5.png">
									</a>
									<div class="media-body">
										<h5 class="mb-1">
											<a class="btn-link font-base text-hover-purple" href="blog-grid-right-sidebar.html">Mauris semper mass
												feugiat facilisis.</a>
										</h5>
										<time class="text-muted">July 7 - 2018</time>
									</div>
								</div>
							</li>
				
							<li class="border-bottom p-3">
								<div class="media">
									<a class="me-2" href="blog-grid-right-sidebar.html">
										<img class="w-100 rounded" src="assets/img/blog/blog-sm-img9.jpg" alt="blog-sm-img5.png">
									</a>
									<div class="media-body">
										<h5 class="mb-1">
											<a class="btn-link font-base text-hover-purple" href="blog-grid-right-sidebar.html">Mauris semper
												mass feugiat facilisis.</a>
										</h5>
										<time class="text-muted">July 7 - 2018</time>
									</div>
								</div>
							</li>
				
							<li class="border-bottom p-3">
								<div class="media">
									<a class="me-2" href="blog-grid-right-sidebar.html">
										<img class="w-100 rounded" src="assets/img/blog/blog-sm-img10.jpg" alt="blog-sm-img5.png">
									</a>
									<div class="media-body">
										<h5 class="mb-1">
											<a class="btn-link font-base text-hover-purple" href="blog-grid-right-sidebar.html">Mauris semper mass
												feugiat facilisis.</a>
										</h5>
										<time class="text-muted">July 7 - 2018</time>
									</div>
								</div>
							</li>
				
							<li class="p-3">
								<div class="media">
									<a class="me-2" href="blog-grid-right-sidebar.html">
										<img class="w-100 rounded" src="assets/img/blog/blog-sm-img11.jpg" alt="blog-sm-img5.png">
									</a>
									<div class="media-body">
										<h5 class="mb-1">
											<a class="btn-link font-base text-hover-purple" href="blog-grid-right-sidebar.html">Mauris semper mass
												feugiat facilisis.</a>
										</h5>
										<time class="text-muted">Jun 7 - 2018</time>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

  {{ partial "pagination" . }}

</section>


{{end}}
