// Kidz Scss
@import 'variables-color4';

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import 'kidz/utilities/utilities';
@import 'kidz/breadcrumb';
@import 'kidz/color-bars';
@import 'kidz/dropdown';
@import 'kidz/navbar';
@import 'kidz/header';
@import 'kidz/revolution';
@import 'kidz/card';
@import 'kidz/section-title';
@import 'kidz/media';
@import 'kidz/buttons';
@import 'kidz/owl-carousel';
@import 'kidz/numscroller';
@import 'kidz/icon';
@import 'kidz/form';
@import 'kidz/list';
@import 'kidz/footer';
@import 'kidz/badges';
@import 'kidz/nav';
@import 'kidz/type';
@import 'kidz/pagination';
@import 'kidz/select2';
@import 'kidz/syotimer';
@import 'kidz/no-ui-slider';
@import 'kidz/lazyestload';
@import 'kidz/modal';
@import 'kidz/product';
@import 'kidz/preloader';
@import 'kidz/checkout';
@import 'kidz/table';
@import 'kidz/coming-soon';
@import 'kidz/gallery';
@import 'kidz/element-right-sidebar';
@import 'kidz/call-to-action';
@import 'kidz/body-patterns';
@import 'kidz/rtl';