{{ define "main" }}

<section class="py-8 py-md-10">
	<div class="container">
		<div class="card">
			<div class="position-relative">
        {{ if .Params.image }}<img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}" width="1146" height="525" />{{ end }}
				<div class="card-img-overlay">
          <span class="badge badge-rounded bg-purple">{{ .Date.Format "2006-01-02" }}</span>
        </div>
			</div>
			<div class="card-body border-top-5 px-3 rounded-bottom border-purple">
				<h1 class="card-title text-purple mb-5">{{.Title}}</h1>        
				<div id="blog_post">
					{{ .Content }}
				</div>
				
				<div class="">
					<ul class="list-inline d-flex mb-0">
		        <li class="me-2">
		          <a class="icon-rounded-circle-small bg-primary" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&t={{ .Title }}" rel="nofollow noopener">
		            <i class="fab fa-facebook-f text-white" aria-hidden="true"></i>
		          </a>
		        </li>
		        <li class="mx-2">
		          <a class="icon-rounded-circle-small bg-danger" href="http://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}">
		            <i class="fab fa-twitter text-white" aria-hidden="true"></i>
		          </a>
		        </li>
		      </ul>
				</div>
			</div>
		</div>
	</div>
</section>

  {{ end }}
